<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Trace Logger -->
  <appender name="TraceFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log/Trace" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.tr.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
    <encoding value="utf-8" />
  </appender>

  <!-- Error Logger -->
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log/Error" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.er.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
    <encoding value="utf-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="TraceFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
  </root>
</log4net>